/* TODO Add site wide styles */
* {
  background-color: #b9cccf;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: red;
}

.errors > ul {
  list-style: square;
}

.errors {
  margin: 30px;
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
  font-size: 20px;
}
